@charset "UTF-8";
.contacts {
  border-right: 1px solid #eceeef;
  border-bottom: 1px solid #eceeef; }

.contact {
  border-top: 1px solid #eceeef;
  border-right: 2px solid transparent; }
  .contact a {
    color: #292b2c;
    position: relative;
    padding: 10px;
    background-color: #fff; }
    .contact a:hover {
      background-color: #f7f7f9;
      border-right-color: #0275d8;
      text-decoration: none; }
  .contact .media-body {
    overflow: hidden; }
  .contact .contact_nickname {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.2;
    padding-right: 5px; }
  .contact .contact-date-log {
    font-size: 0.6875rem;
    font-weight: normal; }
  .contact .counter {
    font-size: 0.6875rem; }
    .contact .counter .fa {
      font-size: 0.625rem; }

.peer_off_online:after {
  display: inline-block;
  font-family: FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-indent: 0;
  transition: 0.2s;
  content: "\f111";
  position: absolute;
  top: 13px;
  right: 10px;
  font-size: 0.625rem;
  color: #636c72;
  line-height: 1.2; }

.peer_off_online.peer_online:after {
  color: #d9534f; }

#user_search_panel {
  padding: 1rem 10px; }

.composer .textarea {
  height: 100px;
  max-height: 300px; }

.message-last-date {
  color: #0275d8;
  text-align: center;
  position: relative;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  z-index: 1; }
  .message-last-date > span {
    padding: 0 1rem;
    background-color: #fff; }
  .message-last-date:after {
    content: '';
    position: absolute;
    height: 1px;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #eceeef;
    z-index: -1; }

.button_hide {
  display: none; }

.message .media-body {
  border: 1px solid #eceeef;
  padding: 10px;
  cursor: pointer; }
  .message .media-body.selected {
    border-color: #d9534f; }

.message .title {
  border-bottom: 1px solid #eceeef;
  padding-bottom: 8px;
  margin-bottom: 8px; }

.msg_overlay {
  background: #000;
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2; }

.confirm_wrap {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 360px;
  z-index: 11; }

.modal-dialog {
  height: calc(100% - 100px);
  margin: 50px auto; }
  .modal-dialog > .modal-content {
    height: 100%; }
    .modal-dialog > .modal-content .nyroModalCont {
      display: -ms-flexbox;
      display: flex;
      overflow: hidden; }
      .modal-dialog > .modal-content .nyroModalCont .nyroModalLink {
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        width: 100%; }
        .modal-dialog > .modal-content .nyroModalCont .nyroModalLink #pm_window {
          overflow: hidden;
          display: -ms-flexbox;
          display: flex;
          width: 100%; }
          .modal-dialog > .modal-content .nyroModalCont .nyroModalLink #pm_window .no-gutters {
            overflow: hidden;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            width: 100%; }
            .modal-dialog > .modal-content .nyroModalCont .nyroModalLink #pm_window .no-gutters .right-panel {
              -ms-flex-direction: column;
              flex-direction: column;
              overflow-y: auto; }
            .modal-dialog > .modal-content .nyroModalCont .nyroModalLink #pm_window .no-gutters .left-panel {
              display: -ms-flexbox;
              display: flex; }
              .modal-dialog > .modal-content .nyroModalCont .nyroModalLink #pm_window .no-gutters .left-panel #pm_contact {
                display: -ms-flexbox;
                display: flex;
                -ms-flex-direction: column;
                flex-direction: column;
                width: 100%;
                -ms-flex-pack: justify;
                justify-content: space-between; }
                .modal-dialog > .modal-content .nyroModalCont .nyroModalLink #pm_window .no-gutters .left-panel #pm_contact #pm_chat {
                  overflow-y: auto;
                  padding-right: 10px;
                  margin-bottom: auto; }

@media (min-width: 768px) {
  .right-panel {
    display: -ms-flexbox;
    display: flex; } }

@media (max-width: 991px) {
  #pm_contact .btn-group {
    right: 0;
    display: none; }
    #pm_contact .btn-group.active {
      display: -ms-inline-flexbox;
      display: inline-flex;
      position: absolute; }
  .right-panel {
    display: none; } }

#pm_contact .user-name {
  color: #292b2c;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1; }

.modal-dialog {
  min-height: 500px; }

/*# sourceMappingURL=styles.css.map */
