@charset "UTF-8";
html {
  min-height: 100%;
  position: relative;
  font-size: 0.875rem; }

body {
  font-family: "Roboto"; }

html, body {
  height: 100%; }

a:focus {
  outline: thin none; }

code {
  display: block;
  padding: 0.53573rem; }
  code pre {
    margin-bottom: 0; }

small {
  font-size: 85.7%; }

blockquote {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  font-size: 1.25rem; }

.height-one-line {
  overflow: hidden;
  height: 1.5rem; }

/* Header =================================================================== */
/* Main Navigation =========================================================== */
/* Main section =========================================================== */
/* Layout-bottom ==================================================== */
/* Footer =========================================================== */
.ui_message {
  padding: 15px;
  margin-bottom: 20px;
  background-color: #E4F1FE;
  border-color: #2980b9;
  border-width: 1px;
  border-style: solid;
  border-left-width: 10px;
  color: #555; }

.ui_message.ui_warning {
  background-color: #FDE3A7;
  border-color: #f39c12; }

.ui_message.ui_error {
  background-color: #F1A9A0;
  border-color: #e74c3c; }

#alert_wrap .ui_message {
  margin-bottom: 0; }

/* Global =================================================================== */
.pos-r {
  position: relative; }

.pos-a {
  position: absolute; }

.mt-next-3 + .mt-next-3 {
  margin-top: 1rem; }

.h-dec-no:hover {
  text-decoration: none; }

.font-size-base {
  font-size: 1rem; }

.font-size-xs {
  font-size: 0.7143rem; }

.font-size-sm {
  font-size: 0.8571rem; }

.font-size-lg {
  font-size: 1.2857rem; }

.cursor-pointer {
  cursor: pointer; }

.fa-no-photo {
  font-family: FontAwesome;
  font-feature-settings: normal;
  -webkit-font-kerning: auto;
  font-kerning: auto;
  font-language-override: normal;
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant: normal;
  font-weight: normal;
  text-rendering: auto; }
  .fa-no-photo:before {
    content: "\f03e"; }

nav select {
  display: none; }

.navbar .dropdown-menu {
  padding-top: 0;
  border-width: 1px;
  padding-bottom: 0;
  min-width: 260px; }
  .navbar .dropdown-menu .dropdown-menu {
    left: 100%;
    top: 0; }
    .navbar .dropdown-menu .dropdown-menu .dropdown-menu {
      left: auto;
      right: 100%; }

.navbar .dropdown-item {
  font-size: 0.75rem;
  font-weight: 500;
  padding: 1.07145rem; }

/* InstatnCMS2 Standart Style Kod =====================================*/
.field .title_left,
.field .title_top {
  font-weight: bold; }

.field .title_left {
  float: left;
  padding-right: 0.5rem; }

.field .previews_list .preview {
  margin-bottom: 1rem; }

.karma .thumb {
  display: inline-block;
  font-family: FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .karma .thumb.thumb_up:after {
    content: "\f087"; }
  .karma .thumb.thumb_down:after {
    content: "\f088"; }

.title a, .details a {
  color: inherit; }

.section-content img {
  display: block;
  height: auto;
  max-width: 100%; }

.section-content > article > h1 {
  margin-bottom: 1rem; }

.section-content > article + div {
  margin-top: 1.07145rem; }

#site_off_notice {
  position: fixed;
  top: 1.07145rem;
  right: 1.07145rem;
  z-index: 100; }

.input-small {
  display: inline-block;
  width: 65px !important; }

.date-input.form-control {
  display: inline-block;
  margin-right: 3px;
  vertical-align: middle;
  width: 7rem; }

#error-maintenance {
  min-height: 100%;
  height: 100%; }
  #error-maintenance .container {
    height: 100%; }

.content_list_item + .content_list_item {
  margin-top: 1rem; }

.fields .field p:last-child {
  margin-bottom: 0; }

.ft_age label,
.ft_color label {
  display: block; }

.color-block {
  padding: 0.5rem 1rem;
  border: 1px solid #eceeef;
  display: inline-block; }

.ui-datepicker {
  z-index: 2 !important; }

/* Ajax Uploader ============================================================ */
.qq-uploader {
  position: relative;
  width: 100%;
  height: 100%; }

.qq-upload-button {
  position: relative; }

.qq-upload-drop-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 45px;
  z-index: 2;
  background: #2ecc71;
  text-align: center;
  color: #FFF;
  display: block; }

.qq-upload-drop-area span {
  display: block;
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -8px;
  font-size: 0.875rem; }

.upload .qq-upload-drop-area span {
  top: 12px;
  font-size: 0.75rem; }

.qq-upload-drop-area-active {
  background: #3498db; }

.qq-upload-list {
  margin: 15px 0 0 0;
  padding: 0; }

.qq-upload-list li {
  margin: 10px 0 0 0;
  padding: 0;
  line-height: 0.9375rem;
  font-size: 0.8125rem;
  list-style: none; }

.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
  margin-right: 7px; }

.qq-upload-list:empty {
  display: none; }

.qq-upload-spinner {
  display: inline-block;
  background: url("../images/loading.gif");
  width: 15px;
  height: 15px;
  vertical-align: text-bottom; }

.qq-upload-size, .qq-upload-cancel {
  font-size: 0.6875rem; }

.qq-upload-failed-text {
  display: none; }

.qq-upload-fail .qq-upload-failed-text {
  display: inline; }

.info_bar {
  margin-top: 0.5rem; }
  .info_bar .bar_item {
    display: inline-block; }
    .info_bar .bar_item + .bar_item {
      margin-left: .5rem; }

.is_private {
  cursor: help; }

.spoiler > input + label:before {
  content: '+';
  font-weight: bold;
  width: 15px; }

.spoiler > input:checked + label:before {
  content: '-'; }

.spoiler > input,
.spoiler > input + label + .spoiler_body {
  display: none; }

.spoiler > input + label {
  background: #f7f7f9;
  padding: 0.53573rem 1.07145rem;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0; }

.spoiler > input + label {
  cursor: pointer; }

.spoiler > input:checked + label + .spoiler_body {
  display: block; }

.spoiler > .spoiler_body {
  border: 2px solid #f7f7f9;
  border-top: none;
  background-color: transparent;
  padding: 0.53573rem 1.07145rem; }

.dot-base-two {
  overflow: hidden;
  max-height: 3rem; }

.dot-base-three {
  overflow: hidden;
  max-height: 4.5rem; }

.dot-1-1 {
  overflow: hidden;
  height: 21px; }

.nyroModalCloseButton {
  top: -38px;
  right: -38px;
  width: 38px;
  height: 38px;
  text-indent: -9999em;
  background: url("../images/modal/close.png");
  z-index: 101;
  position: absolute; }

@media (min-width: 576px) {
  .modal-dialog {
    margin: 50px auto; } }

.nyroModalError {
  border: 4px solid red;
  color: red;
  width: 250px;
  height: 250px; }

.nyroModalError div {
  min-width: 0;
  min-height: 0;
  padding: 10px; }

.nyroModalLink, .nyroModalDom, .nyroModalForm, .nyroModalFormFile {
  position: relative;
  max-width: 1000px; }

.nyroModalImage, .nyroModalSwf, .nyroModalIframe, .nyroModalIframeForm {
  position: relative;
  overflow: hidden; }

.nyroModalImage img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto; }

.nyroModalHidden {
  left: -9999em;
  top: -9999em; }

.nyroModalLoad {
  position: fixed;
  width: 100px;
  height: 100px;
  background: #fff url(../images/modal/ajaxLoader.gif) no-repeat center;
  padding: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%); }

.nyroModalPrev, .nyroModalNext {
  outline: none;
  position: absolute;
  top: 0;
  height: 100%;
  width: 150px;
  min-height: 50px;
  max-height: 300px;
  cursor: pointer;
  text-indent: -9999em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px; }
  .nyroModalPrev:after, .nyroModalNext:after {
    display: inline-block;
    font-family: FontAwesome;
    font-size: 2rem;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0;
    color: #eceeef;
    transition: 0.2s; }
  .nyroModalPrev:hover, .nyroModalNext:hover {
    text-decoration: none; }
    .nyroModalPrev:hover:after, .nyroModalNext:hover:after {
      color: #636c72; }

.nyroModalImage .nyroModalPrev, .nyroModalImage .nyroModalNext {
  height: 100%;
  width: 40%;
  max-height: none; }

.nyroModalPrev {
  left: 0; }
  .nyroModalPrev:after {
    content: "\f053"; }

.nyroModalNext {
  right: 0;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .nyroModalNext:after {
    content: "\f054"; }

.modal-content-no-border {
  border-width: 0; }

/* Слайдер контента ==========================================================================  */
.widget_content_slider {
  overflow: hidden;
  position: relative; }

.widget_content_slider .slide {
  overflow: hidden;
  position: relative;
  width: 100%; }

.widget_content_slider > table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }

.widget_content_slider > table td,
.widget_content_slider > table th {
  padding: 0; }

.widget_content_slider .slide img {
  display: none;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1; }

.widget_content_slider .slide img:first-child, .widget_content_slider img {
  display: block; }

.widget_content_slider .slide .heading {
  background: rgba(0, 0, 0, 0.85);
  display: block;
  padding: 10px;
  right: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2; }

.widget_content_slider .slide .heading h2,
.widget_content_slider .slide .heading .teaser {
  display: inline-block;
  margin: 0;
  color: #ecf0f1; }

.widget_content_slider .slide .heading h2 {
  font-size: 0.875rem;
  font-weight: bold;
  color: #f1c40f; }

.widget_content_slider .slide .heading .teaser {
  font-size: 0.75rem; }

.widget_content_slider .slide .heading .teaser .date {
  color: #7f8c8d;
  padding-left: 10px; }

.widget_content_slider .items {
  background: #ecf0f1;
  position: relative;
  z-index: 2; }

.widget_content_slider .items .item {
  overflow: hidden;
  padding: 10px;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  cursor: pointer;
  position: relative; }

.widget_content_slider .items .item:hover {
  background: #bdc3c7; }

.widget_content_slider .items .item .title {
  display: block;
  vertical-align: middle;
  color: #000; }

.widget_content_slider .items .item.active {
  background: #27ae60; }

.widget_content_slider .items .item.active .title {
  color: #FFF; }

@media (max-width: 767px) {
  .widget_content_slider .items .item .title {
    display: none; } }

@media (min-width: 768px) {
  .widget_content_slider .slide {
    width: 70%; }
  .widget_content_slider .items {
    width: 30%; }
  .widget_content_slider .items .item .image {
    float: left;
    margin-right: 10px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .widget_content_slider .items .item {
    padding: 8px; } }

#wall_add_form {
  display: none;
  margin-bottom: 2.1429rem; }

.preview_box {
  display: none; }

#wall_widget #wall_add_form .loading {
  display: none; }

#wall_widget #entries_list .replies_loading {
  display: none;
  margin-bottom: 10px;
  margin-top: 12px; }

.loading {
  background: transparent url("../images/loader16.gif") no-repeat scroll center center; }

.card .list-group-item {
  margin-top: -1px;
  border-width: 1px; }

.btn:hover {
  cursor: pointer; }

.widget_activity_list .media,
.activity-list .media,
.widget_content_list .media,
.contacts .media {
  margin-top: 1rem; }
  .widget_activity_list .media:first-child,
  .activity-list .media:first-child,
  .widget_content_list .media:first-child,
  .contacts .media:first-child {
    margin-top: 0; }

/* Comments =================================================================== */
.markItUpContainer .markItUpHeader ul a {
  padding: 0.8rem 1rem; }

/* --------------------------------

Stretchy Nav style - common to:
 - basic navigation
 - add-content navigation
 - edit-content navigation

-------------------------------- */
.stretch-rounded {
  border-radius: 0.5rem; }

.stretch-rounded-top {
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem; }

.stretch-rounded-right {
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem; }

.stretch-rounded-bottom {
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem; }

.stretch-rounded-left {
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem; }

.stretch-rounded-circle {
  border-radius: 25px; }

/*
  position
    sn-t-left
    sn-t-center
    sn-t-right
    sn-c-left
    sn-c-right
    sn-b-left
    sn-b-center
    sn-b-right
*/
.sn-t-left {
  top: 0;
  left: 0; }

.sn-t-center {
  top: 0;
  left: 50%;
  transform: translateX(-50%); }

.sn-t-right {
  right: 0;
  top: 0; }

.sn-c-left {
  left: 0;
  top: 50%;
  transform: translateY(-50%); }

.sn-c-right {
  right: 0;
  top: 50%;
  transform: translateY(-50%); }

.sn-b-left {
  bottom: 0;
  left: 0; }

.sn-b-center {
  bottom: 0;
  left: 0;
  right: 0; }
  @media (min-width: 768px) {
    .sn-b-center {
      left: 50%;
      transform: translateX(-50%);
      right: auto; } }

.sn-b-right {
  bottom: 0;
  right: 0; }

.left-top-bottom {
  right: 0;
  top: 0;
  bottom: 0; }

.right-top-bottom {
  right: 0;
  top: 0;
  bottom: 0; }

.top-left-right {
  top: 0;
  left: 0;
  right: 0; }

.bottom-left-right {
  bottom: 0;
  left: 0;
  right: 0; }

.cd-stretchy-nav {
  position: fixed;
  z-index: 2;
  pointer-events: none; }
  .cd-stretchy-nav .stretchy-nav-bg {
    /* this is the stretching navigation background */
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    transition: height 0.2s, width 0.2s, box-shadow 0.2s; }
  .cd-stretchy-nav.nav-is-visible {
    pointer-events: auto; }
  .cd-stretchy-nav.nav-is-visible .stretchy-nav-bg {
    height: 100%;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.2); }

.cd-nav-trigger {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  /* replace text with image */
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
  pointer-events: auto; }

.cd-nav-trigger span,
.cd-nav-trigger span::after,
.cd-nav-trigger span::before {
  /* this is the hamburger icon */
  position: absolute;
  width: 16px;
  height: 2px; }

.cd-nav-trigger span::after,
.cd-nav-trigger span::before {
  background-color: inherit; }

.cd-nav-trigger span {
  /* middle line of the hamburger icon */
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  transform: translateX(-50%) translateY(-50%);
  transition: background-color 0.2s; }

.cd-nav-trigger span::after,
.cd-nav-trigger span::before {
  /* top and bottom lines of the hamburger icon */
  content: '';
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0.2s; }

.cd-nav-trigger span::before {
  transform: translateY(-6px); }

.cd-nav-trigger span::after {
  transform: translateY(6px); }

.cd-nav-trigger:hover ~ .stretchy-nav-bg {
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2); }

.nav-is-visible .cd-nav-trigger span {
  height: 0; }

.nav-is-visible .cd-nav-trigger span::before {
  transform: rotate(-45deg); }

.nav-is-visible .cd-nav-trigger span::after {
  transform: rotate(45deg); }

.cd-stretchy-nav ul {
  position: relative;
  list-style: none;
  z-index: 2;
  visibility: hidden;
  transition: visibility 0.3s;
  margin-bottom: 0;
  padding: 0; }
  .cd-stretchy-nav ul a {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 50px;
    line-height: 3.125rem;
    width: 50px;
    text-align: center;
    font-size: 1.4rem;
    transition: color 0.2s;
    opacity: 0.7; }

.cd-stretchy-nav ul a {
  /* navigation item icons */
  position: relative;
  transform: translateY(-50%) scale(0); }

.cd-stretchy-nav.nav-is-visible ul {
  visibility: visible; }

.cd-stretchy-nav.nav-is-visible ul a {
  /* navigation item icons */
  transform: translateY(0) scale(1);
  animation: scaleIn 0.15s backwards;
  transition: opacity 0.2s; }

.cd-stretchy-nav.nav-is-visible ul a:hover {
  color: #f7f7f9;
  text-decoration: none;
  opacity: 1; }

.direction-center .stretchy-nav-bg {
  transition: width 0.2s, height 0.2s, box-shadow 0.2s; }

.direction-center.nav-is-visible .stretchy-nav-bg {
  width: 100%;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2); }

.direction-center .cd-nav-trigger span::before {
  /* used to create the plus icon */
  transform: rotate(90deg); }

.direction-center .cd-nav-trigger span::after {
  /* used to create the plus icon */
  transform: rotate(0deg); }

.direction-center.nav-is-visible .cd-nav-trigger {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2); }

.direction-center.nav-is-visible .cd-nav-trigger span::before {
  transform: rotate(-135deg); }

.direction-center.nav-is-visible .cd-nav-trigger span::after {
  transform: rotate(-225deg); }

.direction-center ul li {
  display: block;
  width: 50px; }

.direction-center.trigger-is-hidden ul li:nth-of-type(2) {
  /* space occupied by the navigation trigger */
  margin-right: 0; }

.direction-center ul a {
  padding: 0;
  height: 50px;
  width: 100%; }

/* direction */
.direction-top .cd-nav-trigger,
.direction-top .stretchy-nav-bg {
  bottom: 0;
  top: auto; }

.direction-top ul {
  padding-top: 15px;
  padding-bottom: 50px; }

.direction-top.trigger-is-hidden ul {
  padding-bottom: 15px; }

.direction-bottom ul {
  padding-top: 50px;
  padding-bottom: 15px; }

.direction-bottom.trigger-is-hidden ul {
  padding-top: 15px; }

.direction-left .cd-nav-trigger,
.direction-left .stretchy-nav-bg {
  right: 0;
  left: auto; }

.direction-left ul {
  padding-right: 50px;
  padding-left: 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.direction-left.trigger-is-hidden ul {
  padding-right: 15px; }

.direction-left.nav-is-visible .stretchy-nav-bg {
  width: 100%; }

.direction-right ul {
  padding-left: 50px;
  padding-right: 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.direction-right.trigger-is-hidden ul {
  padding-left: 15px; }

.direction-right.nav-is-visible .stretchy-nav-bg {
  width: 100%; }

.direction-top-bottom .cd-nav-trigger,
.direction-top-bottom .stretchy-nav-bg {
  top: 50%;
  transform: translateY(-50%); }

.direction-top-bottom ul {
  padding: 15px 0;
  position: relative; }
  @media (max-width: 991px) {
    .direction-top-bottom ul {
      top: 50%;
      transform: translateY(-50%); } }

.direction-top-bottom .stretchy-li {
  margin-bottom: 50px; }

.direction-left-right .cd-nav-trigger,
.direction-left-right .stretchy-nav-bg {
  left: 50%;
  transform: translateX(-50%); }

.direction-left-right ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 10px; }

.direction-left-right .stretchy-li {
  margin-right: 50px; }

/* --------------------------------

main content basic style

-------------------------------- */
.cd-main-content {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  padding: 100px 0;
  background-color: #003c5d; }

/* --------------------------------

keyframes

-------------------------------- */

@keyframes scaleIn {
  from {
    transform: translateY(-50%) scale(0); }
  to {
    transform: translateY(0) scale(1); } }

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-25px); }
  to {
    opacity: 1;
    transform: translateX(0); } }

/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y; }
  .owl-carousel .owl-stage:after {
    content: "\2e";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d; }
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
  .owl-carousel.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease; }

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 0.875rem;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 0rem; }
    .owl-theme .owl-nav [class*='owl-']:hover {
      background: #869791;
      color: #FFF;
      text-decoration: none; }
  .owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }
    .owl-theme .owl-dots .owl-dot span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      background: #D6D6D6;
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity 200ms ease;
      border-radius: 30px; }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: #869791; }

/*# sourceMappingURL=../css/maps/theme.css.map */
