@import 'base';

#comments_widget #comments_add_form,
#comments_list  .scroll-down,
#comments_add_form .loading{ display: none; }
.comment {
  #comments_add_form {
    margin-top: 1rem;
  }
}

#comments_add_form .loading {
  font-family: FontAwesome;
  font-size: inherit;
}
#comments_add_form .loading:before {
  content: "\f110";
  display: inline-block;
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

// скрываем select меню после комментариев
#tab-icms + select,
#tab-vk + select {
  display: none;
}
.comment {
  .media-body, .deleted {
    border: 1px solid $gray-lighter;
    padding:$navbar-padding-y $navbar-padding-x;
  }
  .deleted {
    margin-left: 1rem;
  }
  .info {
    margin-bottom:$navbar-padding-y;
    padding-bottom: $navbar-padding-y;
    border-bottom: 1px solid $gray-lighter;
  }
}