/* ========================================================================== */

.widget_content_slider { overflow: hidden; position: relative;}
.widget_content_slider .slide {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.widget_content_slider > table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.widget_content_slider > table td,
.widget_content_slider > table th {
  padding: 0;
}
.widget_content_slider .slide img {
  display: none;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.widget_content_slider .slide img:first-child, .widget_content_slider img {
  display:block;
}
.widget_content_slider .slide .heading {
  background: rgba(0, 0, 0, 0.85);
  display: block;
  padding: 10px;
  right: 0;
  position:absolute;
  left:0;
  bottom:0;
  z-index:2
}

.widget_content_slider .slide .heading h2,
.widget_content_slider .slide .heading .teaser{
  display: inline-block;
  margin:0;
  color:#ecf0f1;
}

.widget_content_slider .slide .heading h2 {
  font-size:14px;
  font-weight: bold;
  color:#f1c40f;
}

.widget_content_slider .slide .heading .teaser{
  font-size:12px;
}

.widget_content_slider .slide .heading .teaser .date{
  color: #7f8c8d;
  padding-left: 10px;
}

.widget_content_slider .items {
  background:#ecf0f1;
  position: relative;
  z-index: 2;
}

.widget_content_slider .items .item {
  overflow: hidden;
  padding:10px;
  font-size:12px;
  line-height:15px;
  cursor:pointer;
  position:relative;
}

.widget_content_slider .items .item:hover {
  background:#bdc3c7;
}

.widget_content_slider .items .item .title {
  display:block;
  vertical-align:middle;
  color:#000;
}

.widget_content_slider .items .item.active {
  background:#27ae60;
}

.widget_content_slider .items .item.active .title {
  color:#FFF;
}
@media (max-width: 767px) {
  .widget_content_slider .items .item .title {
    display:none;
  }
}
@media (min-width: 768px) {
  .widget_content_slider .slide {
    width: 70%;
  }
  .widget_content_slider .items {
    width: 30%;
  }
  .widget_content_slider .items .item .image {
    float:left; margin-right: 10px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .widget_content_slider .items .item {
    padding: 8px;
  }
}