@import 'base';

.peer_online {
  position: relative;
  &:after {
    content:'';
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50%;
    bottom: 0;
    right: 10px;
    position: absolute;
  }
}