@import 'base';

.content img {
  display: block;
  height: auto;
  max-width: 100%;
}
.f_content {
  @include clearfix;
}

.content_datasets_description {
  border-left: $nav-tabs-border-width solid $nav-tabs-border-color;
  border-right: $nav-tabs-border-width solid $nav-tabs-border-color;
  border-bottom: $nav-tabs-border-width solid $nav-tabs-border-color;
  p:last-child {
    margin-bottom: 0;
  }
}
