@import 'base';

.widget_profiles_list {
  .flex-wrap {
    margin-left:-0.5rem;
    margin-right:-0.5rem;
  }
}
/* ========================================================================== */
#user_status_widget.loading {
    background-position: center center;
}
#user_status_widget.loading .input{
    visibility: hidden;
}

#users_profiles_list {
  > div {
    margin-bottom:($grid-gutter-width-base);
  }
  .card {
    > a {
      display: flex;
      flex: 1 1 70%;
      justify-content: center;
      overflow: hidden;

    }
  }
  .orientation_landscape {
    .card-img-top {
      max-width: none;
    }
  }
}
